<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceColony">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RecruitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuartersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SimulatorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MissionControlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StatsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedbayActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
